<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/../../static/css/all.css">
    <link rel="stylesheet" href="/../../static/css/profile.css">
    <title>{{nickname}} | GYB</title>
</head>
<body>
    <header>
        <nav>
            <a href="/en/chats">
                <div class="navlink"><h3>Chats</h3></div>
            </a>
            <a href="/en/buddies">
                <div class="navlink"><h3>Buddies</h3></div>
            </a>
            <a href="/en/profile">
                <div class="navlink"><h3>Profile</h3></div>
            </a>
        </nav>
        <div class="language_switcher">
            <label for="language">Language</label>
            <select name="language" id="language" onchange="location = this.value;">
                <option value="/en/{{user_id}}">English</option>
                <option value="/ru/{{user_id}}">Russian</option>
            </select>
        </div>
    </header>
    <main>
        {% if photo %}
        <img src="{{photo.url}}" alt="profile photo" id="profile_photo">
        {% endif %}
        <h1>{{nickname}}</h1>
        {% if birthdate %}
        <p>Birthdate: {{birthdate}}</p>
        {% endif %}
        {% if country %}
        <p>Country: {{country}}</p>
        {% endif %}
        {% if city %}
        <p>City: {{city}}</p>
        {% endif %}
        {% if bio %}
        <p>{{bio}}</p>
        {% endif %}
    </main>
</body>
</html>