<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/not_authorised.css">
    <link rel="stylesheet" href="../../static/css/forms.css">
    <title>Логин | ДК</title>
</head>
<body>
    <header>
        <div class="back">
            <button id="back_button" onclick="location = '/ru/welcome'">Назад</button>
        </div>
        <div class="language_switcher">
            <label for="language">Язык</label>
            <select name="language" id="language" onchange="location = this.value;">
                <option value="/ru/login/">Русский</option>
                <option value="/en/login/">Английский</option>
            </select>
        </div>
    </header>
    <main>
        <div class="wrapper">
            <h1>Добро пожаловать в <span class="site_name">ДостаньКореша</span></h1>
            <hr>
            <form method="post" name="login" class="login_form" id="login_form">
                {% csrf_token %}
                {{form}}
                {{error}}
                <input type="submit" name="submit" id="submit" value="Войти">
            </form>
        </div>
    </main>
    <footer>
        <p>ДостаньКореша 2022</p>
        <div class="contact" id="email">Email: <address>getyourbuddy.online@gmail.com</address></div>
    </footer>
</body>
</html>