<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/all.css">
    <link rel="stylesheet" href="../../static/css/profile.css">
    <title>{{nickname}} | ДК</title>
</head>
<body>
    <header>
        <nav>
            <a href="/en/chats">
                <div class="navlink">Чаты</div>
            </a>
            <a href="/en/buddies">
                <div class="navlink">Кореша</div>
            </a>
            <a href="/en/profile">
                <div class="navlink">Профиль</div>
            </a>
        </nav>
        <div class="language_switcher">
            <label for="language">Язык</label>
            <select name="language" id="language" onchange="location = this.value;">
                <option value="/ru/{{user_id}}">Русский</option>
                <option value="/en/{{user_id}}">Английский</option>
            </select>
        </div>
    </header>
    <main>
        {% if photo %}
        <img src="{{photo.url}}" alt="profile photo">
        {% endif %}
        <h1>{{nickname}}</h1>
        {% if birthdate %}
        <p>Дата рождения: {{birthdate}}</p>
        {% endif %}
        {% if country %}
        <p>Страна: {{country}}</p>
        {% endif %}
        {% if city %}
        <p>Город: {{city}}</p>
        {% endif %}
        {% if bio %}
        <p>{{bio}}</p>
        {% endif %}
    </main>
</body>
</html>